<div class="relative w-full">
    <div class="relative">
        <input placeholder="{{placeholder}}" [id]="id" [readOnly]="!searchable" [(ngModel)]="displayLabel" (ngModelChange)="searchList($event)" searchbox="pi-search-box" class="block pr-10 p-4 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500">
        <div class="absolute right-2.5 top-0 bottom-0">
            <div class="flex flex-wrap content-center h-full w-4">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                     width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                     preserveAspectRatio="xMidYMid meet">

                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                       fill="#000000" stroke="none">
                        <path d="M895 3506 c-67 -29 -105 -105 -90 -183 6 -34 100 -131 843 -875 744 -743 841 -837 875 -843 94 -18 39 -66 949 843 909 909 861 855 843 949 -9 49 -69 109 -118 118 -94 18 -46 59 -875 -768 l-762 -762 -758 757 c-424 424 -769 762 -785 768 -38 14 -85 12 -122 -4z"/>
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <div class="absolute border w-full divide-y bg-white z-10 search-drop-container {{id}} hidden" >
        <ng-container *ngIf="showAddButton">
            <div *ngIf="data.length === 0" class="p-2 flex space-x-2 cursor-pointer" (click)="addNew()">
                <div>
                    <div class="flex flex-wrap content-center h-full space-x-2 ">
                        <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                             width="512.000000pt" height="512.000000pt" viewBox="0 0 512.000000 512.000000"
                             preserveAspectRatio="xMidYMid meet" class="h-5 w-5">

                            <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
                               fill="#000000" stroke="none">
                                <path d="M2471 5103 c-24 -9 -63 -35 -86 -58 -80 -79 -75 -8 -75 -1187 l0
-1048 -1048 0 c-1179 0 -1108 4 -1187 -75 -98 -98 -98 -252 0 -350 79 -79 8
-75 1187 -75 l1048 0 0 -1048 c0 -1179 -4 -1108 75 -1187 98 -98 252 -98 350
0 79 79 75 8 75 1187 l0 1048 1048 0 c1179 0 1108 -4 1187 75 98 98 98 252 0
350 -79 79 -8 75 -1187 75 l-1048 0 0 1048 c0 1179 4 1108 -75 1187 -69 70
-169 91 -264 58z"/>
                            </g>
                        </svg>
                    </div>
                </div>
                <div>
                    <div class="flex flex-wrap content-center h-full w-full">
                        <label class="text-lg w-52 truncate" *ngIf="displayLabel">{{displayLabel}}</label>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="data.length > 0">
            <ng-container *ngFor="let item of data">
                <div (click)="selectItem(item)" class="p-2 cursor-pointer hover:bg-gray-200">
                    {{item.value}}
                </div>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="data.length === 0">
            <div class="py-6 cursor-pointer text-center">
                List is empty
            </div>
        </ng-container>
    </div>
</div>
