<div class="flex flex-col w-full h-full p-4 overflow-auto">
    <h1 class="text-3xl font-light text-2xl">Modal</h1>
    <div class="bg-white rounded-xl mt-3 w-full p-4 flex justify-between space-x-12">
        <div class="w-full">
            <div class="w-96">
                <label class="pb-5 block text-2xl">Basic implementation</label>
                <button (click)="open()" class="text-xs border border-indigo-700 text-white bg-indigo-700 py-2 px-4 rounded-lg"> Open Modal </button>
            </div>
            <br>
            <pi-code-snippet [canCopy]="false">
                <pre>
                    {{service.text}}
                </pre>
            </pi-code-snippet>
        </div>
    </div>
</div>
