<div class="flex flex-col w-full h-full pb-4 overflow-auto">
    <h1 class="text-3xl font-extrabold p-2">Text Area</h1>
    <div class="flex flex-col h-full overflow-auto">
        <div class="grow h-full w-full p-4 overflow-auto">
            <div class="bg-white dark:bg-slate-700 rounded-xl mt-3 w-full p-4 space-y-12">
                <div class="w-full">
                    <div class="lg:w-96 w-full">
                        <label class="pb-5 block text-2xl">Basic implementation</label>
                        <pi-text-area label="Address" placeholder="Address"></pi-text-area>
                    </div>
                    <br>
                    <pi-code-snippet [textToCopy]="textarea">
                        <pre>
                            {{textarea}}
                        </pre>
                    </pi-code-snippet>
                </div>
                <div class="w-full">
                    <div class="lg:w-96 w-full">
                        <label class="pb-5 block text-2xl">Validating Text area</label>
                        <pi-text-area [required]="true" [invalid]="true" label="Address" placeholder="Address"></pi-text-area>
                    </div>
<!--                    <p class="pt-4">-->
<!--                        To validate  <pi-quick-code color="primary">floatingLabel</pi-quick-code> attribute and set the value to <pi-quick-code color="success">inline</pi-quick-code> this way <pi-quick-code color="danger">floatingLabel="inline"</pi-quick-code> .-->
<!--                    </p>-->
                    <br>
                    <pi-code-snippet [textToCopy]="validate">
                        <pre>
                            {{validate}}
                        </pre>
                    </pi-code-snippet>
                </div>
<!--                <div class="w-full">-->
<!--                    <div>-->
<!--                        <label class="pb-5 block text-2xl">Inline Floating Label</label>-->
<!--                        <div class="w-96">-->
<!--                            <pi-text-area label="Address">-->
<!--                            </pi-text-area>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <p class="pt-4">-->
<!--                        To make the label float inline add the <pi-quick-code color="primary">floatingLabel</pi-quick-code> attribute and set the value to <pi-quick-code color="success">inline</pi-quick-code> this way <pi-quick-code color="danger">floatingLabel="inline"</pi-quick-code> .-->
<!--                    </p>-->
<!--                    <br>-->
<!--                    <pi-code-snippet textToCopy="<pi-text-area label='Address' floatingLabel='inline'></pi-text-area>">-->
<!--                        <pi-code-fix>pi-text-area label="Address" floatingLabel="inline"</pi-code-fix><pi-code-fix>/pi-text-area</pi-code-fix>-->
<!--                    </pi-code-snippet>-->
<!--                </div>-->
<!--                <div class="w-full">-->
<!--                    <div>-->
<!--                        <label class="pb-5 block text-2xl">Outline Floating Label</label>-->
<!--                        <div class="w-96">-->
<!--                            <pi-text-area label="Address">-->
<!--                            </pi-text-area>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <p class="pt-4">-->
<!--                        To make the label float outline add the <pi-quick-code color="primary">floatingLabel</pi-quick-code> attribute and set the value to <pi-quick-code color="success">outline</pi-quick-code> this way <pi-quick-code color="danger">floatingLabel="outline"</pi-quick-code> .-->
<!--                    </p>-->
<!--                    <br>-->
<!--                    <pi-code-snippet textToCopy="<pi-text-area label='Address' floatingLabel='outline'></pi-text-area>">-->
<!--                        <pi-code-fix>pi-text-area label="Address" floatingLabel="outline"</pi-code-fix><pi-code-fix>/pi-text-area</pi-code-fix>-->
<!--                    </pi-code-snippet>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>