<div class="flex flex-col w-full h-full pb-4 overflow-auto">
    <h1 class="text-3xl font-extrabold p-2">Check Box</h1>
    <div class="flex flex-col h-full overflow-auto">
        <div class="grow h-full w-full p-4 overflow-auto">
            <div class="bg-white dark:bg-gray-700 rounded-xl mt-3 w-full p-4 space-y-12">
                <div class="w-full">
                    <label class="pb-5 block text-2xl">Basic implementation</label>
                    <div class="flex space-x-4">
                        <pi-check-box>
                            <span class="ml-1">Item one</span>
                        </pi-check-box>
                    </div>
                    <br>
                    <pi-code-snippet textToCopy="<pi-check-box><span class='ml-1'>Item one</span>></pi-check-box>">
                        <pi-code-fix>pi-check-box</pi-code-fix>
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;<pi-code-fix>span class="ml-1"</pi-code-fix>Item one<pi-code-fix>/span</pi-code-fix>
                        <br>
                        <pi-code-fix>/pi-check-box</pi-code-fix>
                    </pi-code-snippet>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
