<div class="px-4 h-16 w-full flex items-center justify-between">
    <div class="flex items-center space-x-1">
        <a routerLink="/" class="font-extrabold text-3xl">tolle</a><span class="border font-semibold border-black text-xs px-1 rounded">UI</span>
    </div>
    <div class="flex items-center space-x-3">
        <a routerLink="/get-started" class="pl-3">Get Started</a>
        <a routerLink="/components" class="pl-3">Components</a>
        <a href="https://github.com/TOLLESOFT/tollUI" class="pl-3"><i class="pi pi-github text-2xl"></i></a>
    </div>
</div>