<div class="flex flex-col w-full h-full p-4 overflow-auto">
    <h1 class="text-3xl font-light text-2xl">Input</h1>
    <div class="bg-white rounded-xl mt-3 w-full p-4 flex justify-between space-x-12">
        <div class="w-full">
            <div class="w-96">
                <label class="pb-5 block text-2xl">Basic implementation</label>
                <pi-input placeholder="First name">
                    <label class="block mb-2 text-sm font-medium text-gray-900">First name</label>
                </pi-input>
            </div>
            <br>
            <pi-code-snippet textToCopy="<pi-input placeholder='First name'><label>First name</label></pi-input>">
                <pre>
<pi-code-fix>pi-input placeholder="First name"</pi-code-fix>
    <pi-code-fix>label</pi-code-fix>First name<pi-code-fix>/label</pi-code-fix>
<pi-code-fix>/pi-input</pi-code-fix>
                </pre>
            </pi-code-snippet>
        </div>
    </div>

    <div class="bg-white rounded-xl mt-3 w-full p-4 flex justify-between space-x-12">
        <div class="w-full">
            <div>
                <label class="pb-5 block text-2xl">Inline Floating Label</label>
                <div class="w-96">
                    <pi-input floatingLabel="inline" label="First Name">
                    </pi-input>
                </div>
            </div>
            <p class="pt-4">
                To make the label float inline add the <pi-quick-code color="primary">floatingLabel</pi-quick-code> attribute and set the value to <pi-quick-code color="success">inline</pi-quick-code> this way <pi-quick-code color="danger">floatingLabel="inline"</pi-quick-code> .
            </p>
            <br>
            <pi-code-snippet textToCopy="<pi-input label='First Name' floatingLabel='inline'></pi-input>">
                <pi-code-fix>pi-input label="First Name" floatingLabel="inline"</pi-code-fix><pi-code-fix>/pi-input</pi-code-fix>
            </pi-code-snippet>
        </div>
    </div>

    <div class="bg-white rounded-xl mt-3 w-full p-4 flex justify-between space-x-12">
        <div class="w-full">
            <div>
                <label class="pb-5 block text-2xl">Outline Floating Label</label>
                <div class="w-96">
                    <pi-input floatingLabel="outline" label="First Name">
                    </pi-input>
                </div>
            </div>
            <p class="pt-4">
                To make the label float outline add the <pi-quick-code color="primary">floatingLabel</pi-quick-code> attribute and set the value to <pi-quick-code color="success">outline</pi-quick-code> this way <pi-quick-code color="danger">floatingLabel="outline"</pi-quick-code> .
            </p>
            <br>
            <pi-code-snippet textToCopy="<pi-input label='First Name' floatingLabel='outline'></pi-input>">
                <pi-code-fix>pi-input label="First Name" floatingLabel="outline"</pi-code-fix><pi-code-fix>/pi-input</pi-code-fix>
            </pi-code-snippet>
        </div>
    </div>
</div>
