<div class="flex flex-col w-full h-full pb-4 overflow-auto">
    <h1 class="text-3xl font-extrabold p-2">Drop List</h1>
    <div class="flex flex-col h-full overflow-auto">
        <div class="grow h-full w-full p-4 overflow-auto">
            <div class="bg-white dark:bg-gray-700 rounded-xl mt-3 w-full p-4 space-y-12">
                <div class="w-full">
                    <div class="w-96">
                        <label class="pb-5 block text-2xl">Basic implementation</label>
                        <pi-drop-list [dropListTemplate]="dropList" label="Select item from list">
                            <ng-template #dropList>
                                <div class="z-10 w-full bg-white rounded divide-y divide-gray-100 shadow">
                                    <ul class="py-1 text-sm text-gray-700">
                                        <li>
                                            <a routerLink="/components/buttons" class="block py-2 px-4 hover:bg-gray-100">Buttons</a>
                                        </li>
                                        <li>
                                            <a routerLink="/components/input" class="block py-2 px-4 hover:bg-gray-100">Inputs</a>
                                        </li>
                                        <li>
                                            <a class="block py-2 px-4 hover:bg-gray-100">Earnings</a>
                                        </li>
                                        <li>
                                            <a class="block py-2 px-4 hover:bg-gray-100">Sign out</a>
                                        </li>
                                    </ul>
                                </div>
                            </ng-template>
                        </pi-drop-list>
                    </div>

                    <br>
                    <pi-code-snippet textToCopy="{{service.text}}">
                        <pre>
                            {{service.text}}
                        </pre>
                    </pi-code-snippet>
                </div>
            </div>
        </div>
    </div>
</div>
