<div class="relative" *ngIf="!viewMode">
    <input [(ngModel)]="checkItem" (keydown.enter)="addCheckItem()" class="block pr-10 p-4 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Check item">
    <button [disabled]="!checkItem" (click)="addCheckItem()" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-2.5 py-0.5 text-2xl disabled:bg-blue-500">+</button>
</div>
<small *ngIf="showError" class="text-red-600">{{errorMessage}}</small>
<div class="mt-5" cdkDropList (cdkDropListDropped)="drop($event)">
    <ng-container *ngFor="let checkbox of this.form.definitions; let i = index">
        <div class="bg-white py-2 px-2" [class.flex]="editMode" [class.border]="editMode" [class.items-center]="editMode" [class.space-x-2]="editMode" cdkDrag [cdkDragDisabled]="!editMode">
            <div class="w-full">
                <pi-check-box [label]="checkbox.label" [(ngModel)]="checkbox.value" (ngModelChange)="checkListItems.emit(form)"></pi-check-box>
            </div>
            <ng-container *ngIf="editMode">
                <input [(ngModel)]="checkbox.label" (ngModelChange)="checkListItems.emit(form)" class="block p-1 w-full text-xs text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Check item">
                <span (click)="removeItem(checkbox)" class="cursor-pointer px-1.5 py-[0.05] text-sm border text-white bg-red-600 rounded html-icon">X</span>
            </ng-container>
        </div>
    </ng-container>
</div>
