<div class="modal fixed inset-0 z-10">
    <div class="flex flex-wrap content-center h-full w-full justify-center">
        <div @enterLeave *ngIf="open" class="bg-white p-5 modal-content {{modalCss}}">
            <ng-container [ngSwitch]="contentType">
                <ng-container *ngSwitchCase="'string'">
                    <div [innerHTML]="content"></div>
                </ng-container>

                <ng-container *ngSwitchCase="'template'">
                    <ng-container *ngTemplateOutlet="$any(content); context: context"></ng-container>
                </ng-container>

                <ng-container *ngSwitchCase="'component'">
                    <ng-container *ngComponentOutlet="$any(content)"></ng-container>
                </ng-container>
            </ng-container>
        </div>
    </div>
</div>
<!--<ng-container *ngIf="showCloseButton">-->
<!--    <button (click)="close()" class="absolute top-1 right-1 z-[3]" aria-label="close">-->
<!--        <img src="assets/close-btn.svg" class="w-10">-->
<!--    </button>-->
<!--</ng-container>-->